body {
  text-align: center;
  background-color: #CFD8DC;
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 15px 0;
  background-color: #455A64;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: 800;
}

h5 {
  padding: 10px 0px;
  border-bottom: 1px solid #CFD8DC;
  color: #455A64;
  font-size: 20px;
  font-weight: 800;
}

.logo {
  width: 40px;
}

.main {
  padding-bottom: 10px;
  width: 100%;
  background-color: #455A64;
}

.web-title, .web-url {
  margin: 10px auto;
  padding: 3px 0px;
  width: 90%;
  border: 2px solid #CFD8DC;
  font-size: 1.3em;
}

.message-prompt {
  color: white;
  font-size: 10px;
}

.amount {
  padding: 2px;
  margin-bottom: 5px;
  color: white;
}

.bookmarks {
  margin: 10px auto;
  padding: 10px;
}

.stored-site {
  height: 120px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  background-color: white;
  border: 1px solid #607D84;
}

.unread {
  padding: 17px 0px;
  border-bottom: 1px solid #CFD8DC;
  color: #607D8B;
  font-size: .9em;
}

.link {
  border-bottom: 1px solid #F2F4F4;
  color: #607D8B;
  text-decoration: none;
}

.link:hover {
  font-weight: 800;
  border-bottom: 2px solid #FFC107;
}

.enter-btn, .clear-btn {
  margin: 10px 0 20px 0;
  padding: 10px 0px;
  width: 90%;
  background-color: #FFC107;
  border: 2px solid #FFC107;
  border-style: none;
  color: white;
  font-size: 1em;
  font-weight: 800;
  outline: none;
}

.enter-btn:hover, .clear-btn:hover {
  background-color: #FFD773;
}

.button:focus {
  outline: none;
}

.button {
  margin-top: 6px;
  background-color: white;
  border-bottom: 1px solid #F2F4F4;
  border-style: none;
  color: #455A64;
  font-size: 14px;
}

.button:hover {
  border-style: none;
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

#delete-btn {
  float: right;
}

.read {
  background-color: #F2F4F4;
  color: #F05A28;
}

.read-bookmark {
  background-color: #F2F4F4;
}

@media screen and (min-width: 700px) {

  div {
    height:150px;
    margin: 50px auto;
    width: 100%;
  }

  .large {
    text-align: center;
    color: #FFFFFF;
    font-size: 2.8em;
    font-weight: 800;

  }
  .full-logo {
    margin-top: 100px;
  }

  .main {
    display: inline-block;
    float:left;
    height: 100vh;
    padding:5px;
    width:50%;
    background-color:#455A64;
  }

  .bookmarks {
    display:inline-block;
    float: right;
    width:45%;
  }

  header {
    display: none;
  }

  /*.web-title, .web-url {
    width: 70%;
  }

  .enter-btn, .clear-btn {
    width: 70%;
  }*/
}

@media screen and (max-width: 700px) {
  div {
    display:none;
  }
}
