body {
 font-family: 'Open Sans', sans-serif;
 background-color: #CFD8DC;
 text-align: center;

}

header {
  background-color: #455A64;
  padding: 15px 0;
}

h1 {
  font-weight: 800;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.3em;
}

h5 {
  color: #455A64;
  font-weight: 800;
  border-bottom: 1px solid #CFD8DC;
  padding: 10px 0px;
  font-size: 20px;
}

.logo {
  width: 30px;
}

.main {
  width: 100%;
  background-color: #455A64;
  padding-bottom: 10px;

}
.web-title, .web-url {
  width: 90%;
  margin: 10px auto;
  padding: 3px 0px;
  font-size: 1.3em;
  border: 2px solid #CFD8DC;
}

.enter-btn, .clear-btn {
  background-color: #FFC107;
  border-style: none;
  color: white;
  font-size: 1em;
  font-weight: 800;
  margin: 10px 0 20px 0;
  padding: 10px 0px;
  width: 90%;
  border: 2px solid #FFC107;
}

.enter-btn:hover, .clear-btn:hover {
  background-color: #FFD773;
}

.amount {
  color: white;
  margin-bottom: 5px;
}

.bookmarks {
  margin: 0 auto;
  padding: 10px;
}

.stored-site {
  background-color: white;
  border: 1px solid #607D84;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
}

.unread {
  border-bottom: 1px solid #CFD8DC;
  color: #607D8B;
  font-size: .9em;
  padding: 17px 0px;
}

.link {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 1px solid #F2F4F4;
}

.link:hover {
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

.button {
  background-color: white;
  border-style: none;
  border-bottom: 1px solid #F2F4F4;
  margin-top: 6px;
  color: #455A64;
  font-size: 14px;
}

.button:hover {
  border-style: none;
  border-bottom: 2px solid #FFC107;
  font-weight: 800;
}

#delete-btn {
  float: right;
}

.read {
  color: #F05A28;
  background-color: #F2F4F4;
}

.read-bookmark {
  background-color: #F2F4F4;
}

@media screen and (min-width: 700px) {

  div {
    border: 2px solid black;
    height:150px;
    margin: 50px auto;
    width: 340px;
  }

  .large {
    font-weight: 800;
    font-size: 2.8em;
    color: #FFFFFF;
    text-align: center;

  }


  .main {
    width:46%;
    display:inline-block;
    height: 100vh;
    background-color: #455A64;
    margin-left: -2%;
  }
  .bookmarks{
    width:50%;
    display:inline-block;
    float: right;
  }
  header {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  div {
    display:none;
  }
}
